.skeletonImg {
  height: 300px;
  border-radius: 8px;
}

.skeletonTitle {
  height: 28px;
}

.skeletonText {
  height: 16px;
}

.skeletonDesc {
  height: 48px;
}

.skeletonBadge {
  height: 32px;
  border-radius: 999px;
}

.skeletonBtn {
  height: 38px;
}
