.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 44px;
  min-height: 44px;
}

.btnMinus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btnPlus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.value {
  min-width: 48px;
  text-align: center;
  cursor: default;
  border-left: 0;
  border-right: 0;
}
